/ThucHanh4/target/
/ThucHanh5/TCPClient/target/
/ThucHanh5/TCPServer/target/
/ThucHanh5/BaiThucHanh02/TCPClient/target/
/ThucHanh5/BaiThucHanh02/TCPServer/target/
/ThucHanh5/BaiThucHanh03/TCPChat/target/
/ThucHanh5/BaiThucHanh04/PortChecking/target/
/ThucHanh5/BaiThucHanh06/ThucHanh1/nbproject/private/
/ThucHanh5/BaiThucHanh06/ThucHanh1/build/
/ThucHanh5/BaiThucHanh06/ftpservervd/nbproject/private/
/ThucHanh5/BaiThucHanh05/ReadingSocketInfo/nbproject/private/
/ThucHanh5/BaiThucHanh05/ReadingSocketInfo/build/
