/ThucHanh4/target/
/ThucHanh5/TCPClient/target/
/ThucHanh5/TCPServer/target/
/ThucHanh5/BaiThucHanh02/TCPClient/target/
/ThucHanh5/BaiThucHanh02/TCPServer/target/
/ThucHanh5/BaiThucHanh03/TCPChat/target/
/ThucHanh5/BaiThucHanh04/PortChecking/target/
